.model_gunung {
  width: 100%;
  height: 90vh;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;     
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 

}


.content {
  margin: 1rem 2rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.text-content {
  width: 100%;
  text-align: center;
}

.text-content h2 {
  color: #007bff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {
    .model_gunung {
      height: 73vh;
    }
    
    .content {
      margin: 1rem 1rem 0rem 1rem;
      padding: 10px;
    }
}