main {
    padding: 1rem 1rem 0rem 1rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.card-item {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.media-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    padding: 1.5rem;
    text-align: justify;
}

.text-container h2 {
    color: #007bff;
    margin-bottom: 0.75rem;
}

.text-container p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.content2 {
    margin: 1rem 1rem 2rem 1rem;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 1.5rem;
    flex-wrap: wrap;
}

.content2 p {
    color: #555;
}

/* kiri: teks */
.subcontent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 55%; 
    min-width: 300px;
}

.subcontent h2 {
    color: #007bff;
}

.subcontent p {
    color: #555;
    line-height: 1.7;
    font-size: 1rem;
    text-align: justify;
}

.video_content {
    flex: 1 1 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 16 / 9; 
    min-width: 300px;
}

.video_content iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}



@media (max-width: 768px) {
    main {
        padding: 1rem 1rem 1rem 1rem;
    }

    .content {
        padding: 0rem 0rem 1.5rem 0rem;
        text-align: center;
        gap: 1.5rem;
    }

    .content2 {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        margin: 0 0 1.5rem 0;
    }
    
    .content2 h2 {
        text-align: left;
        font-size: 1.4rem;
    }

    .content2 p {
        text-align: justify;
    }

    .subcontent {
        width: 100%;
        text-align: justify;
    }

    .subcontent h2 {
        text-align: center;
        font-size: 1.3rem;
    }

    .video_content {
        width: 100%;
    }

    .video_content iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }
}